#change-password {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  height: 100vh;
  max-width: 425px;
}

#change-password label {
  align-self: flex-start;
  margin-top: 1rem;
}

#change-password button {
  margin: 2rem 0;
}

#change-password a {
  color: var(--link);
}