.modal::backdrop {
  background: hsla(0, 0%, 0%, 0.6);
}

.modal {
  border: 1px solid var(--grey6);
  border-radius: 0.3rem;
  bottom: 200px;
  color: var(--text);
  width: 400px;
}

@media (prefers-color-scheme: light) {
  .modal {
    background-color: var(--grey1);
  }
}

@media (prefers-color-scheme: dark) {
  .modal {
    background-color: var(--grey8);
  }
}

.modal div:first-child button {
  float: right;
  background: none;
  border: none;
  padding: 0.5rem;
}

.modal-close path {
  stroke: var(--text);
}