.modal::backdrop {
    background: hsla(0, 0%, 0%, 0.6);
}

.modal {
    border: 1px solid var(--grey6);
    border-radius: 0.5rem;
    background-color: var(--grey2);
    bottom: 20px;
    color: var(--grey6);
    width: 400px;
}