.change-password-form {
  display: flex;
  flex-direction: column;
  max-width: 425px;
  padding: 2rem;
}

.change-password-form input {
  margin-bottom: 1rem;
}

.change-password-form p:last-of-type, .change-password-form h1 {
  text-align: center;
}

.change-password-form button {
  margin-top: 1rem;
}

@media screen and (min-width: 426px) {
  .change-password-form {
    margin: 0 auto;
  }
}