.details {
  max-width: 500px;
  height: 100vh;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0.5rem;
  margin: 0 auto;
}

.details h1 {
  text-align: center;
  font-size: 2rem;
}

.details p {
  text-align: center;
}

.selection {
  display: flex;
  gap: 1rem;
}

.selection button {
  flex: 1;
}

.details div:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  align-items: flex-end;
  width: 100%;
}