#login {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  height: 100vh;
  max-width: 425px;
}

#login label {
  align-self: flex-start;
  margin-top: 1rem;
}

#login p:nth-of-type(1) {
  text-align: left;
  margin: .5rem 0 0 0;
}

#login button {
  margin: 2rem 0;
}

#login a {
  align-self: center;
  color: var(--link);
}