:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  /*color palette*/
  --white: #FFFFFF;
  --aliceblue: #F0F7F9;
  --azure: #D3E8EE;
  --lightblue: #B6D9E2;
  --lightblue2: #99CAD6;
  --skyblue: #7CBBCB;
  --moonstone: #489FB5;
  --bluegreen: #469AAF;
  --munsell: #3A8092;
  --caribbeancurrent: #2F6775;
  --midnightgreen: #295A66;
  --gunmetal: #17333A;
  --richblack: #0B191D;
  --night: #060D0F;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

input, button {
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  cursor: pointer;
}

.primaryBtn {
  background-image: linear-gradient(var(--azure), var(--lightblue2));
  border: 1px solid var(--caribbeancurrent);
  border-radius: .3rem;
  color: var(--caribbeancurrent);
}

.primaryBtn:hover {
  background-color: var(--munsell);
}

.secondaryBtn:hover {
  background-color: var(--);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--gunmetal);
    background-color: var(--aliceblue);
  }

  .secondaryBtn {
    background-image: linear-gradient(var(--azure), var(--lightblue2));
    border: 1px solid var(--caribbeancurrent);
    border-radius: .3rem;
    color: var(--caribbeancurrent);
  }

  .secondaryBtn:hover {
    background-image: linear-gradient(var(--azure), var(--azure));
  }
  
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--azure);
    background-color: var(--night);
  }

  .secondaryBtn {
    background-image: linear-gradient(var(--azure), var(--lightblue2));
    border: 1px solid var(--caribbeancurrent);
    border-radius: .3rem;
    color: var(--caribbeancurrent);
  }

  .secondaryBtn:hover {
    background-image: linear-gradient(var(--azure), var(--azure));
  }
}