:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  /* primaries */
  --primary1: #92e2ca;
  --primary2: #5bdfb7;
  --primary3: #4fc19f;
  --primary4: #51a68c;
  --primary5: #3f826e;
  --primary6: #306454;
  --primary7: #204339;

  /* greyscale */
  --grey1: #f1f1f1;
  --grey2: #e3e3e3;
  --grey3: #ababab;
  --grey4: #949494;
  --grey5: #787878;
  --grey6: #6a6a6a;
  --grey7: #3f3f3f;
  --grey8: #1f1f1f;

  /*error messages*/
  --red: #ff8383;
  --darkred: #700119;

  /*links*/
  --link: #1C77C3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

input, select {
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.primary-btn {
  background-image: linear-gradient(var(--primary2), var(--primary4));
  border: 1px solid var(--primary7);
  border-radius: .3rem;
  color: var(--primary7);
}

.primary-btn:hover {
  background-image: linear-gradient(var(--primary4), var(--primary4));
}

.secondary-btn:hover {
  background-color: var(--);
}

.error-message {
  background-color: var(--red);
  border: 1px solid var(--darkred);
  border-radius: .3rem;
  padding: .5rem;
  color: var(--darkred);
  margin: .5rem 0;
}

a {
  color: var(--link);
}

@media (prefers-color-scheme: light) {
  :root {
    --text: var(--gunmetal);
    --bg: var(--aliceblue);
    color: var(--text);
    background-color: var(--bg);
  }

  .secondary-btn {
    background-image: linear-gradient(var(--azure), var(--lightblue2));
    border: 1px solid var(--caribbeancurrent);
    border-radius: .3rem;
    color: var(--caribbeancurrent);
  }

  .secondary-btn:hover {
    background-image: linear-gradient(var(--azure), var(--azure));
  }
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--grey2);
    --bg: var(--grey8);
    color: var(--text);
    background-color: var(--bg);
  }

  .secondary-btn {
    background-image: linear-gradient(var(--azure), var(--lightblue2));
    border: 1px solid var(--caribbeancurrent);
    border-radius: .3rem;
    color: var(--caribbeancurrent);
  }

  .secondary-btn:hover {
    background-image: linear-gradient(var(--azure), var(--azure));
  }
}