#request-password {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  height: 100vh;
  max-width: 425px;
}

#request-password label {
  align-self: flex-start;
  margin-top: 1rem;
}

#request-password input {
  margin-bottom: .5rem;
}

#request-password button {
  margin: 2rem 0;
}

#request-password a {
  color: var(--link);
}